---
import Layout from '../../layouts/Layout.astro';
import Background from '../../components/Background.astro';
import RouletteGame from '../../components/RouletteGame';

const { user } = Astro.params;
---

<Layout>
    <Background />
    
    <main class="min-h-screen p-4 sm:p-8 relative z-10 flex items-center justify-center">
        <RouletteGame client:load user={user} />
    </main>
</Layout>