@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@import '@fontsource-variable/inter';

html,
body {
  font-family: 'Inter Variable', sans-serif;
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

@theme {
  /* Default breakpoints + your custom ones */
  --breakpoint-xs: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
