---

---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <title>Test Ads</title>
  </head>
  <body>
    <h1>Test Ads</h1>
    <div class='w-[500px] h-[500px] bg-red-500'>
      <script
        async
        src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9524578027210643'
        crossorigin='anonymous'
      ></script>
      <!-- test vanilla -->
      <ins
        class='adsbygoogle'
        style='display:block'
        data-ad-client='ca-pub-9524578027210643'
        data-ad-slot='4135279644'
        data-ad-format='auto'
        data-full-width-responsive='true'
      ></ins>
      <script>
        ;(adsbygoogle = window.adsbygoogle || []).push({})
      </script>
    </div>
  </body>
</html>
