---
---

<div class:list={ [
    `background-image`,
    `bg-[url('/images/luck-bg.jpg')]`,
    `bg-cover`,
    `bg-center`,
    `bg-no-repeat`,
    `absolute`,
    `inset-0`,
    `h-full`,
    `w-full`,
    `object-cover`,
    "opacity-40",
    "z-[-1]"
]
}>
</div>