---
---

<div class:list={ [
    `background-image`,
    `bg-[url('/images/luck-bg.jpg')]`,
    `bg-cover`,
    `bg-center`,
    `bg-no-repeat`,
    `absolute`,
    `inset-0`,
    `h-full`,
    `w-full`,
    `object-cover`,
    "z-[-1]",
    "brightness-50",
    "before:content-['']",
    "before:absolute",
    "before:inset-0",
    "before:bg-black/40"
]
}>
</div>