---
// Components
import Layout from '../../layouts/Layout.astro'
import Background from '../../components/Background.astro'
import RouletteGame from '../../components/RouletteGame'

// Libs
import { getRouletteData } from '../../libs/api/roulette'

// Params
const { slug } = Astro.params as { slug: string }

// Get roulette data
const rouletteData = await getRouletteData(slug)

// Redirect to 404 if roulette data is not found
if (rouletteData.status == 'error') {
  return Astro.redirect('/404')
}
---

<Layout>
  <Background src={rouletteData.data.bg_image} />

  <main
    class='h-screen overflow-y-auto relative z-10 flex items-center justify-center py-4 px-2 sm:px-4'
  >
    <RouletteGame
      client:load
      rouletteData={rouletteData.data}
    />
  </main>
</Layout>
