---
// Components
import Layout from '../../layouts/Layout.astro'
import Background from '../../components/Background.astro'
import RouletteGame from '../../components/RouletteGame'

// Libs
import { getRouletteData } from '../../libs/api/roulette'

// Params
const { slug } = Astro.params as { slug: string }

// Get roulette data
const rouletteData = await getRouletteData(slug)
console.log({rouletteData})

// Redirect to 404 if roulette data is not found
if (rouletteData.status == 'error') {
  return Astro.redirect('/404')
}

// Get google ads src script
const googleAdsCode = rouletteData.data.google_ads_code
const googleAdsScript = googleAdsCode.split('</script>')[0] + '</script>'
const googleAdsScriptSrc = googleAdsScript.split('src="')[1].split('"')[0]
console.log({googleAdsScript, googleAdsScriptSrc})

// Get each part of the ins: client, slot, format
const googleAdsClient = googleAdsCode.split('data-ad-client="')[1].split('"')[0]
const googleAdsSlot = googleAdsCode.split('data-ad-slot="')[1].split('"')[0]
const googleAdsFormat = googleAdsCode.split('data-ad-format="')[1].split('"')[0]

console.log({googleAdsClient, googleAdsSlot, googleAdsFormat})
---

<Layout googleAdsScriptSrc={googleAdsScriptSrc}>
  <Background src={rouletteData.data.bg_image} />

  <main
    class='h-screen overflow-y-auto relative z-10 flex items-center justify-center py-4 px-2 sm:px-4'
  >
    <RouletteGame
      client:load
      rouletteData={rouletteData.data}
      googleAds={{
        client: googleAdsClient,
        slot: googleAdsSlot,
        format: googleAdsFormat,
      }}
    />
  </main>
</Layout>
