---
import '../styles/global.css'

interface LayoutProps {
  googleAdsScriptSrc: string
}

const { googleAdsScriptSrc } = Astro.props as LayoutProps
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Astro Basics</title>

    <!-- Synamic google ads script -->
    <script
      async
      src={googleAdsScriptSrc}
      crossorigin='anonymous'
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
</style>
